@model InteractiveMap.Models.Audience

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Audience</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SvgCode" class="control-label"></label>
                <input asp-for="SvgCode" class="form-control" />
                <span asp-validation-for="SvgCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="aud" class="control-label"></label>
                <input asp-for="aud" class="form-control" />
                <span asp-validation-for="aud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imgWay" class="control-label"></label>
                <input asp-for="imgWay" class="form-control" />
                <span asp-validation-for="imgWay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imgSvg" class="control-label"></label>
                <input asp-for="imgSvg" class="form-control" />
                <span asp-validation-for="imgSvg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
